<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "polls/main.html" %}
{% load static %}
{% block title %}修改简历{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-4">
        <form class='form-resume' action="{% url 'editresume' %}" method="post">
            {% if disable %}
            <fieldset disabled>
            {% else %}
            <fieldset >
            {% endif %}
            {% csrf_token %}
            <h4 class="text-center">
            {{request.user.last_name|safe}}{{request.user.first_name|safe}}的简历
            </h4>
            {% for field in resume_form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div> 
            {% endfor %}
            <button type="reset" class="btn btn-secondary pull-left">重置</button>
            <button type="submit" class="btn btn-primary pull-right">保存</button>
            您随时可以保存
            </fieldset>
        </form>
    </div>
    <div class="col-md-4">
        <a href="{% url 'check_and_submit' %}">
        <button type="button" class="btn btn-outline-info align-middle">
            智能校验<br/>提交简历
        </button>
        </a>
    </div>
    </div>
</div> <!-- /container -->
<script src="{% static 'jquery.min.js' %}"></script>
<script>
$(function(){
    $("#id_enrollment_tutor").hide();
    $("label[for=id_enrollment_tutor]").hide();
})
$('#id_enrollment_type').change(function(){
    if ( $("#id_enrollment_type").val()== 'Master'){
        $("#id_enrollment_tutor").hide();
        $("label[for=id_enrollment_tutor]").hide();
        $("#id_enrollment_major option").remove();
        $("#id_enrollment_major").append("<option value='统计学'>统计学</option>");
        $("#id_enrollment_major").append("<option value='应用统计'>应用统计</option>");
    }else {
        $("#id_enrollment_tutor").show();
        $("label[for=id_enrollment_tutor]").show();
        $("#id_enrollment_major option").remove();
        $("#id_enrollment_major").append("<option value='统计学'>统计学</option>");
    }
})

onload=function () {

    $("#id_university").chosen({
        allow_single_deselect: false,
        no_results_text: '没有学校或地区包含',
        placeholder_text_single: '请选择您的本科院校',
        width: "95%"
    });
    message = '{{message}}'
    console.log(message)
    toastr.options.positionClass = 'toast-top-center';
    if (message != '') {
        if (message.indexOf('成功') != -1) {
            toastr.success(message)
        } else {
            toastr.warning(message)
        }
    }
};
</script>

{% endblock content %}
