<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}
{% block title %}首页{% endblock title %}
{% block content %}
<div class="jumbotron">
    <div class="container">
    <h1 class="display-4">研究生推免报名系统</h1>
    <p class="lead">南开大学统计与数据科学学院</p>
    <hr class="my-4">
    <p>允公允能，日新月异</p>
    <a class="btn btn-primary btn-lg" href="{% url 'editresume' %}" role="button">我要报名</a>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-4">
        <h5>通知公告</h5>
        <ul class="list-group list-group-flush anounce_list"></ul>
        <div class="row d-flex flex-row-reverse">
        <a href="{% url 'anounce_index' %}" class="d-inline-flex p-2 ">查看更多</a>
        </div>
    </div>
</div>
</div>
{% endblock content %}