<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}
{% block title %}首页{% endblock title %}
{% block content %}
<div class="jumbotron">
    <div class="container">
    <h1 class="display-4">研究生推免报名系统</h1>
    <p class="lead">统院</p>
    <hr class="my-4">
    <p>写点什么</p>
    <a class="btn btn-primary btn-lg" href="{% url 'editresume' %}" role="button">我要报名</a>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-4">
        <h5>通知公告</h5>
        <ul class="list-group list-group-flush announce_list"></ul>
        <div class="row d-flex flex-row-reverse">
        <a href="{% url 'announce_index' %}" class="d-inline-flex p-2 ">查看更多</a>
        </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h5>注意</h5>
        <p><strong>报名截止时间：{{ globalvar.deadline }}</strong></p>
        <p>如在报名过程中出现问题，<br/>请通过如下方式联系管理员：<br/>
        邮箱: {{globalvar.contact}}</p>
    </div>
</div>
<br/><br/>
</div>
{% endblock content %}