<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}
{% block title %}登出{% endblock title %}
{% block content %}
<p>已登出，还有<span id="sp">2</span>秒跳转到<a href='{% url 'index' %}'>首页</a>...</p>
<script>
    onload=function () {
        setInterval(go,1000)
    };
    var x=1;
    function go() {

        if (x>=0){
            document.getElementById("sp").innerText=x;
        }else {
            location.href="{% url 'index' %}";
        }
        x--;
    }
</script>
{% endblock content %}