<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}
{% block title %}首页{% endblock title %}
{% block body %}
<div class="container" style="padding-top:3rem; padding-bottom: 5rem;">
    <div class="row">
    <div class="col-md-8">
        {% block content %}{% endblock content %}
    </div>
    <div class="col-md-4">
        <ul class="list-group list-group-flush anounce_list"></ul>
        <div class="row d-flex flex-row-reverse">
        <a href="{% url 'anounce_index' %}" class="d-inline-flex p-2 ">查看更多</a>
        </div>
    </div>
    </div>
</div>
{% endblock body %}