<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}
{% block title %}注册{% endblock %}
{% block content %}
<div class="container" style="padding-top: 3rem; padding-bottom: 3rem;">
    <div class="col-md-4 col-md-offset-4">
        <form class='form-register' action="{% url 'register' %}" method="post">
            {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {% csrf_token %}
            {% comment %} <h2 class="text-center">欢迎注册</h2> {% endcomment %}
            <div class="form-group">
                {{ register_form.username.label_tag }}
                {{ register_form.username}}
            </div>
            <div class="form-group">
                {{ register_form.password1.label_tag }}
                {{ register_form.password1 }}
            </div>
            <div class="form-group">
                {{ register_form.password2.label_tag }}
                {{ register_form.password2 }}
            </div>
            <div class="form-group">
                {{ register_form.email.label_tag }}
                {{ register_form.email }}
            </div>
            <div class="form-group">
                {{ register_form.number.label_tag }}
                {{ register_form.number }}
            </div>
            <div class="form-group">
                {{ register_form.last_name.label_tag }}
                {{ register_form.last_name }}
                注意！姓名一旦提交无法更改
            </div>
            <div class="form-group">
                {{ register_form.first_name.label_tag }}
                {{ register_form.first_name }}
                注意！姓名一旦提交无法更改
            </div>
            <div class="form-group">
                {{ register_form.person_id.label_tag }}
                {{ register_form.person_id }}
                注意！身份证号一旦提交无法更改
            </div>
            <div class="form-group">
                {{ register_form.phone.label_tag }}
                {{ register_form.phone }}
            </div>
            <div class="form-group">
                {{ register_form.captcha.errors }}
                {{ register_form.captcha.label_tag }}
                {{ register_form.captcha }}
            </div>
 
            <button type="reset" class="btn btn-secondary pull-left">重置</button>
            <button type="submit" class="btn btn-primary pull-right">提交</button>
 
        </form>
    </div>
</div> <!-- /container -->
<script>
onload=function () {
    message = '{{message}}'
    console.log(message)
    if (message != '') {
        toastr.warning(message)
    }
};
</script>
{% endblock content %}

