/* a.jump{
    color: white;
    text-decoration: none;
    transition: all ease-in-out 300ms;
}
a.jump:hover{
    color: #b9b9b9;
} */
nav ul li a{
    color:white;
}
nav ul li a:hover{
    text-decoration: none;
    color: grey;
}
ul.navbar-nav li{
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.5rem;
}
