[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ranged-response = "*"
django-simple-captcha = "*"
django-summernote = "*"
Django = "==3.1.10"
uWSGI = "*"
redis = "*"
django-redis = "*"
django-redis-cache = "*"
python-memcached = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"
