<!DOCTYPE html>
{% load static %}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery.datetimepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    <!-- 引入导航栏 -->
    {% include 'header.html' %}
    <!-- 预留具体页面的位置 -->
    {% block body %}
    {% block content %}{% endblock content %}
    {% endblock body %}
    <!-- 引入注脚 -->
    {% include 'footer.html' %}
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'popper.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <script src="{% static 'jquery.datetimepicker.full.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            console.log(`%c
DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
D                                                                              D
D       DD      DD  DDD   DDD   DDDDDDDD    DDDDDDD    DDDDDDD    DDDDDD       D
D       DDDD    DD  DDD  DD     DDD   DD   DDD   DD   DDD    D   DDD   D       D
D       DDDDD   DD  DDD DD      DDD   DD   DDD   DD   DDD        DDDD          D
D       DDDDDDD DD  DDDDD       DDD   DD   DDD   DD   DDD         DDDD         D
D       D DDDDDDDD  DDDDD       DDD   DD   DDDDDDDD   DDD          DDDD        D
D       D   DDDDDD  DDDDDD      DDD   DD   DDD   DD   DDD           DDDD       D
D       D    DDDDD  DDD DDD     DDD   DD   DDD   DD   DDD            DDD       D
D       D     DDDD  DDD  DDD    DDD  DDD   DDD   DD   DDDD   D   DD  DDD       D
D       D       DD  DDD   DDD   DDDDDDD    DDD   DD     DDDDD     DDDDD        D
D                                                                              D
DDDDDDDDDDD                                                          DDDDDDDDDDD


    @NKDACS 2021
    Left blank here for co-authors`, 'color: #6cf')
            jQuery.datetimepicker.setLocale('zh');
            $.get("{% url 'anounce_list' 5 %}", {}, function(resp){
                for(var k=0;k<resp['list'].length;k++){
                    i = resp['list'][k]
                    href = "{% url 'anounce_detail' '1' %}"
                    href = href.slice(0,href.length-2)
                    href += i['id']
                    // console.log(i)
                    j = '<a href="' + href + '" class="list-group-item list-group-item-action"'
                        + ' style="padding: 0.5rem;">'
                        + '<div class="d-flex w-100 justify-content-between"><span class="mb-1">'
                        + i['title'] + '</span> <small>' + i['public_time'] + '</small></div></a>'
                    $(".anounce_list").append(j)
                }
            })
        })
    </script>
</body>
</html>