{% comment %} <footer class="py-3 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white"></p>
    </div>
</footer> {% endcomment %}
<footer class="bg-dark footer mt-auto fixed-bottom">
    <nav class="navbar text-white navbar-expand-md">
        <button class="navbar-toggler btn-light text-light" 
            type="button" data-toggle="collapse" 
            data-target="#navbarNav" aria-controls="navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation">关于</button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">Copyright &copy; NKDACS 2021. All rights reserved.</li>
                {% comment %} <li class="nav-item">
                    <a target="_blank" href="https://www.nankai.edu.cn/">南开大学</a>
                </li> {% endcomment %}
                {% comment %} <li class="nav-item">
                    <a target="_blank" href="https://stat.nankai.edu.cn/">统计与数据科学学院</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a target="_blank" href="https://www.nkdacs.com/">NKDACS</a>
                </li>
                <li class="nav-item">
                    <a target="_blank" href="https://github.com/NKDACS/"><i class="bi bi-github text-white"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</footer>