<!-- 定义导航栏 -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
			<span class="navbar-toggler-icon"></span>
		</button>
        <!-- 导航栏商标 -->
        <a class="navbar-brand" style="padding:unset;" href="{% url 'index' %}">
            <img src="{% static 'img/statlogo.png' %}" alt="logo" />
            统计与数据科学学院推免系统
        </a>

        <!-- 导航入口 -->
        <div class="collapse navbar-collapse " id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <!-- 条目 -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">首页</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" 
                    href="#" role="button" aria-haspopup="true" aria-expanded="false">编辑</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'editprofile' %}">基本信息</a>
                        <a class="dropdown-item" href="">简历</a>
                        {% comment %} <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a> {% endcomment %}
                    </div>
                </li>
                {% if request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">管理</a>
                </li>
                {% else %}
                
                {% endif %}
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">后台</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">登出</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">注册</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        {{ request.user.last_name}}{{request.user.first_name}}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>